@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na Przepisach Babci Jadzi</h1>
    @*<div class="form-outline">*@
    <form method="post">
        @*<input asp-for="searchedPhrase" type="search" id="form1" class="form-control" placeholder="Wyszukaj przepis..."
            aria-label="Search" />*@
        <input asp-for="searchedPhrase" type="search" id="form1" class="form-control" placeholder="Wyszukaj przepis..."
               aria-label="Search" />
        <div>
            Szukaj:
            <select asp-for="searchMode">
                <option value="recipe">Przepisu</option>
                <option value="user">Użytkownika</option>
                <option value="category">Kategorii</option>
            </select>
            <br>
        </div>
        <br>
    </form>
    @* TODO: Ulepszyć wyszukiwanie, obecnie jest bardzo podstawowe i sprawdza jedynie czy nazwa przepisu zawiera szukaną frazę *@
    @{
        if (Model.searchResults is null)
        {
            if (string.IsNullOrWhiteSpace(Model.searchedPhrase) is false)
            {
                // Render failed results.
                <span>Nie znaleziono żadnych przepisów zawierających frazę "@Model.searchedPhrase"</span>
            }
            else
            {
                <h3 class="text-left">Ulubione przepisy naszych użytkowników:</h3>
                // Render top recipes.
                if (Model.topRecipes is not null)
                    foreach (var recipe in Model.topRecipes)
                    {
                        <form asp-page-handler="deleteEntry" method="post">
                            <br>
                            <div class="media position-relative">
                                <img src="~/images/kremówka.png" class="mr-3" width="150" height="150" alt="/wwwroot/images/kremówka.jpg">
                                <div class="media-body">
                                    <h5 class="mt-0"> <a href="/Przepis?ID=@recipe.ID" class="stretched-link">@recipe.RecipeName</a></h5>
                                </div>
                            </div>
                        </form>
                    }
            }
        }
        else
        {
            foreach (var recipe in Model.searchResults)
            {
                <form asp-page-handler="deleteEntry" method="post">
                    <div class="media position-relative">
                        <img src="~/images/kremówka.png" class="mr-3" width="200" height="200" alt="/wwwroot/images/kremówka.jpg">
                        <div class="media-body">
                            <h5 class="mt-0"> <a href="/Przepis?ID=@recipe.ID" class="stretched-link">@recipe.RecipeName</a></h5>
                            <p>@recipe.InstructionsText.Substring(0, Math.Min(recipe.InstructionsText.Length, 100))</p>
                        </div>
                    </div>
                </form>
            }
        }
    }
</div>


