@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na Przepisach Babci Jadzi</h1>
    <div class="form-outline">
        <input type="search" id="form1" class="form-control" placeholder="Wyszukaj przepis"
               aria-label="Search" />
    </div>
</div>


