@page
@model Projekt_Przepisy.Pages.ProfilModel
@{
}
<button type="button" onclick="location.href = '/DodajPrzepis';" class="btn btn-primary">Dodaj nowy przepis</button>

<div>
    <h3>
        Lista twoich przepisów:
    </h3>
    @* I tutaj pobierana jest z modelu lista przepisów i wyświetlana. *@
    @{
        if (Model.userRecipes is null)
        {
            <span>Tutaj nie ma żadnych przepisów... Jeszcze!</span>
        }
        else
        {
            foreach (var recipe in Model.userRecipes)
            {
                <form asp-page-handler="deleteEntry" method="post">
                    <div class="media position-relative">
                        <img src="~/images/kremówka.png" class="mr-3" width="120" height="120" alt="/wwwroot/images/kremówka.jpg">
                        <div class="media-body">
                            <h5 class="mt-0"> <a href="/Przepis?ID=@recipe.ID" class="stretched-link">@recipe.RecipeName</a></h5>
                            <p>@recipe.InstructionsText.Substring(0, Math.Min(recipe.InstructionsText.Length, 100))</p>
                        </div>
                    </div>
                        <button type="button" onclick="location.href = '/EdytujPrzepis?ID=@recipe.ID';" class="btn btn-outline-primary">Edytuj Przepis</button>
                        <button type="button" onclick="location.href = '/UsunPrzepis?ID=@recipe.ID';" class="btn btn-outline-danger">Usuń Przepis</button>
              </form>
            }
        }
    }
</div>