@page
@model Projekt_Przepisy.Pages.UlubioneModel
@{
}

<h1>
    Twoje ulubione przepisy:
</h1>

@{
    if (Model.favouriteRecipes.Count is 0)
    {
        <span>Nie masz jeszcze żadnych polubionych przepisów.</span>
        <a href="/Index">Znajdź jakieś na stronie głównej!</a>
    }
    else
    {
        foreach (var recipe in Model.favouriteRecipes)
        {
            <form asp-page-handler="deleteEntry" method="post">
                <div class="media position-relative">
                    <img src="~/images/kremówka.png" class="mr-3" width="120" height="120" alt="/wwwroot/images/kremówka.jpg">
                    <div class="media-body">
                        <h5 class="mt-0"> <a href="/Przepis?ID=@recipe.ID" class="stretched-link">@recipe.RecipeName</a></h5>
                        <p>@recipe.InstructionsText.Substring(0, Math.Min(recipe.InstructionsText.Length, 100))</p>
                    </div>
                </div>
            </form>
        }
    }
}
