@page
@model Projekt_Przepisy.Pages.UsunPrzepisModel
@{
}

<div class="text-center">
    <h1>Czy jesteś pewien, że chcesz usunąć przepis "@Model.recipe.RecipeName"?</h1>
    <form method="post">
        <button type="button" class="btn btn-danger">Tak</button>
    </form>
</div>


